@media screen and (min-width:481px) and (max-width:1109px){
.fixed-width {
    width: 100%;
    margin: auto;
}
h2.title {
    text-align: center;
    height: 200px;
    line-height: 200px;
}
.col-2 {
    width: calc( 50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.col-3 {
    width: calc( 100%/3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.col-4{
    width: calc (50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}
nav {
    height: 78px;
    box-shadow: 0px 1px 1px rgba(2,2,2,.5)
}
nav .logo {
    float: left;
    width: 150px;
    height: 78px;
    background-color: aquamarine;
}
nav .menu {
    float: right;
}
nav .menu ul {
    margin: 0;
    padding: 0;
}
nav .menu ul li {
    float: left;
    list-style-type: none;
}
nav .menu ul li a {
    display: block;
    padding-left: 15px;
    padding-right: 15px; 
    font-family: Francois One;
    font-size: 1.5em;
    line-height: 78px;
}
header {
    height: 400px;
    background-image: url(http://lorempicsum.com/nemo/1200/400/6);
    background-size: cover;
    background-position:center;
}
#about p {
    margin-bottom: 20px;
}
#about .fixed-width:nth-of-type(2) {
/*    background-image: linear-gradient(45deg, #4e78c2 0%, #30b8f4 100%);*/
    margin-top: 60px;
}
#about .col-4 {
    border-radius: 50%;
    overflow: hidden;
    transform: scale(.75)
}
#hobby {
    margin-top: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(0deg,rgba(70, 140, 255, .2) 50%,rgba(70, 140, 255, .6) 50%),linear-gradient(90deg,rgba(70, 140, 255, .2) 50%,rgba(70, 140, 255, .6) 50%);
    background-size: 200px 200px;
}
#hobby .box {
    text-align: center;
    background-color: aqua;
    padding: 50px;
}
#hobby .box div {
    margin-bottom: 30px;
}
#hobby .box p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 28px;
    font-size: 14px;
}
.filter {
    text-align: center;
}
.filter a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}
.gallery {
    margin-top: 100px;
}
.gallery .items {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
}
#portfolio .btn {
    display: block;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: #aaa;
    border-radius: 10px;
}
#share {
    background-color: #ccc;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#share .box {
    text-align: center;
}
#share .number {
    font-size: 60px;
    color: #00005d;
}
#share p {
    margin-top: 15px;
    margin-bottom: 20px;
}
#share .icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
    border: 5px solid #000;
    line-height: 75px;
}
#shop {
    background-color: aquamarine;
    padding-bottom: 50px;
}
#shop .box {
    text-align: center;
    background-color: azure;
    padding: 30px;
    border-radius: 20px;
}
#shop .box p {
    font-size: 14px;
    line-height: 36px;
}
.shop-btn {
    margin-top: 30px;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    height: 40px;
    line-height: 40px;
    background-color: aqua;
    color: aliceblue;
    border: 0;
}
#contact {
    padding-bottom: 50px;
}
#contact p{
    text-align:center;
    margin: 30px 0; 
}
#myForm {
    width: 480px;
    margin: auto;
    text-align: center;
}
#myForm input[type=text] {
    width: 480px;
    padding: 15px;
}
#myForm input[type=submit] {
    margin: auto;
}
#myForm div {
    margin: 30px;
}
#myForm textarea {
    width: 480px;
    padding: 15px;
}
footer {
    background-color: blue;
    text-align: center;
    padding: 40px 0;
    
}
footer .icon {
    display: inline-block;
    border: 3px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    width: 40px;
    height: 40px;
    margin: 15px 5px;
    line-height: 40px;
}
footer p {
    color:#a5a5a5;
}
}